@import url(https://fonts.google.com/specimen/Roboto);
@font-face {
  font-family: Roboto-bold;
  src: url(../assets/fonts/Roboto-Bold.ttf);
 
}
@font-face {
  font-family: Roboto;
   src: url(../assets/fonts/Roboto-Regular.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  background-color: hsl(234, 29%, 20%)
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  background: #fff;
  margin-left: -250px;
  margin-top: -200px;
  /* width: 50%; */
  height: 70%;
  padding: 2rem;
  border-radius: 25px;

  
}
.form{
  width: 40%;
  margin-left: 20px;
 
}
.heading{
  font-family:  'Roboto-bold' ;
  font-weight: 700;
  color:  hsl(234, 29%, 20%);
  line-height: 2;
  margin-top: 10px;

  
}
.form p{
  font-family:  'Roboto-bold' ;
  font-weight: 400;
  font-size: 0.6rem;
  color:  hsl(240, 1%, 21%);
  margin-bottom: 12px;
}
.icon{
  width: 4%;
}
.checkbox{
  line-height: 0.8;
}
.checkbox p{
  margin-top: 15px;
  margin-left: 10px;
}

.checkbox1{
  display: flex;
  

}
.checkbox2{
  display: flex;
  margin-top: -15px;
}
.checkbox3{
  display: flex;
  margin-top: -15px;
}
.form-mail{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.mail{
  font-size: 0.6rem;
  font-family: 'Roboto-bold';
  
}
.input{
  margin-top: 8px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid  hsl(231, 7%, 60%);
  cursor: pointer;
}
.btn{
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 0.7rem;
}
.btn:hover{
  background: hsl(4, 100%, 67%);
  background-color: radial-gradient( center, hsl(4, 100%, 67%) 40%, hsl(30, 100%, 70%) 100%);
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
}
.illustration{
  width: 60%;
}
.image{
  width: 100%;
  height: 100%;
  margin-left: 50px;
}
/* Main page ends */
/* Success message starts */
.body{ 
  margin:150px auto;
  
  display: flex;
  background: #fff;
  width: 19%;
  height: 50%;
  padding: 1.5rem;
  border-radius: 25px;
}
.success-image{
  width: 17%;
}
.head-text{
  font-family:  'Roboto-bold' ;
  color:  hsl(234, 29%, 20%);
  margin-top: 10px;
  margin-bottom: 10px;
}
.body p{
  font-family:  'Roboto' ;
  font-weight: 400;
  font-size: 0.6rem;
  color:  hsl(240, 1%, 21%);
  margin-bottom: 12px;
  line-height: 1.5;
}
span {
  font-family: 'Roboto-bold';
}
.btn2{
  margin: 10px 0;
  padding: 10px;
  border-radius: 7px;
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 0.7rem;
}
.btn2:hover{
  background: hsl(4, 100%, 67%);
  background-color: radial-gradient( center, hsl(4, 100%, 67%) 40%, hsl(30, 100%, 70%) 100%);
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
}

/* Success message starts */


/* mobile responsive */
@media screen and (max-width: 900px){

  body{
    background-color: #fff;
    margin: 0;
    padding: 0;

  }
  .container{
    top: 0;
    left:0;
    display: flex;
    flex-direction: column-reverse;
    background: #fff;
    border-radius: 25px; 
    align-items: center;
    justify-content: center;
    margin: auto; 

  } 
  .form{
    width: 100%;
    margin-left: -10px;
   
  }
  .heading{
   
    line-height: 2;
    margin-top: 10px;
    font-size: 2.6rem;
  
    
  }
  .form p{
    font-family: 'Roboto-bold';
    font-weight: 400;
    font-size: 1rem;
    color:  hsl(240, 1%, 21%);
    margin-bottom: 12px;
  }
  .icon{
    width: 6%;
    
  }
  .checkbox{
    line-height: 1.3;
    margin-top: -10px;
  }
  .checkbox p{
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .checkbox1{
    display: flex;
    
  
  }
  .checkbox2{
    display: flex;
  }
  .checkbox3{
    display: flex;
  }
  .form-mail{
    display: flex;
    flex-direction: column;
  }
  .mail{
    font-size: 0.9rem;
    font-family: 'Roboto-bold';
   
    
  }
  .input{
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid  hsl(231, 7%, 60%);
    cursor: pointer;
  }
  .btn{
    padding: 20px;
    font-size: 0.9rem;
  }
 
  .illustration{
    width: 120%;
   
  }
  .image{
    margin-left: auto;
    margin-right: auto;
  }



  /* Success message starts */
.body{ 
  justify-content: center;
  right: 0;
  left: 0;
}
.success-image{
  width: 20%;
  margin-top: -80px;
  margin-bottom: 30px;
}
.head-text{
 line-height: 1;
  margin-bottom: 30px;
  font-size: 3rem;
}
.body p{
 
  font-size: 1rem;
  margin-bottom: 12px;
  
}

.btn2{
  
  position: absolute;
  padding: 20px;
  font-size: 1rem;
  border-radius: 6px;
  bottom: 0;
  left: 0;

}


/* Success message starts */
}
 @media  screen and (max-width: 1200px) {
  .body{ 
    width: 30%;
  }
 }








